* {
    padding: 0;
    margin: 0;
  }
  
  .new-comment > input {
    border: none;
    border-bottom: 1px solid grey;
    margin: 5px;
    outline: none;
    height: 25px;
    width: 80%;
    text-indent: 10px;
    font-weight: lighter;
    background-color: #999999;
    color: white;
  }
  
  .new-comment > input:focus {
    box-shadow: 1px 3px 6px greenyellow;
    background-color: rgba(255, 255, 255, 0.801);
  }
  
  .new-comment > button {
    border-radius: 10px;
    font-size: 12px;
    padding: 8px;
    background-color: rgb(223, 222, 222);
    border: 1px solid grey;
    cursor: pointer;
  }

  .new-comment > button:hover{
      background-color: black;
      color: white;
  }
  .new-comment{
      display: flex;
  }